@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

:root {
  --primaryColor: #5fb7ea;
  --primaryRGBA: rgba(0, 0, 0, 0.3);
  --mainGrey: #fafafa;
  --darkGrey: #5f5e5e;
  --mainWhite: #fff;
  --mainBlack: #222;
  --darkOrange: #f08700;
  --lightOrange: #e9b44c;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
}

body {
  font-family: "Opens Sans", sans-serif !important;
  color: var(--mainBlack);
}

.text-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

.text-main {
  color: var(--primaryColor);
}

.text-capitalize {
  text-transform: capitalize;
}

.mt {
  margin-top: 1rem;
}

.mb {
  margin-bottom: 2rem;
}

.text {
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
}

.main-link {
  padding: 0.5rem 1rem;
  background: var(--darkOrange);
  color: var(--mainWhite);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
  transition: var(--mainTransition);
}
.main-link:hover {
  background: var(--lightOrange);
  text-decoration: none;
  color: var(--mainWhite);
  outline-color: var(--mainWhite);
}

.cart-icon {
  cursor: pointer;
}
